@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-geist-sans), var(--font-geist-mono), sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}